.my-button {
    padding: 10px;

    .theme-dark & {
        color: white;
        border: 1px solid white;
    }

    .theme-light & {
        color: black;
        border: 1px solid black;
    }
}

.luma {
    color: rgb(var(--luma), var(--luma), var(--luma));
}
.luma-bg {
    background-color: rgb(var(--luma), var(--luma), var(--luma));
}
.luma-bg.fix-text, .luma-bg .fix-text {
    color: hsl(0, 0%, calc((var(--luma) - 127) * -1000%));
}

@for $r from 0 through 100 {
    @for $c from 0 through 100 {
        div.row-#{$r}.col-#{$c} {
            display: inline;
            @if ($r + $c) % 2 == 0 {
                background-color: darkgray;
            }
            @else {
                background-color: lightgray;
            }
        }
    }
}