.slider-article {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1ch;
    padding: 0ch 1ch;
}

.slider-article--image {
    grid-column: 1/2;
}

.slider-article--text {
    grid-column: 2/3;
}