.slider-article {
    display: grid;
    grid-template-columns: minmax(256px, 1fr) 2fr;
    grid-template-rows: min-content auto;
    gap: 5ch;
    padding: 0ch 1ch;
    grid-template-areas: "img title" "img text";
    font-family: 'Fira Sans', sans-serif;
}

.title {
    font-family: 'Poppins', sans-serif;
}

.card-title {
    font-family: 'Poppins', sans-serif;
}
 
.slider-article--image {
    grid-area: img;
}
.slider-article--image > img {
    border-radius: 5px;
}

.slider-article--title {
    grid-area: title;
    align-self: center;
    justify-self: center;
    color: black;
    font-size: 2em;
}

.slider-article--text {
    grid-column: text;
    font-size: 1.4em;
    color: black;
}

.post-column {
    height: 100%;
}

@media (max-width: 768px) {
    .slider-article {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "img" "title" "text";
        gap: 2ch;
    }
    .slider-article--title {
        font-size: 1.2rem;
        text-align: center;
    }
    .slider-article--text {
        font-size: 1rem;
    }
}
